* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
   background-color: hsl(173, 37%, 86%);
  max-height: 670px;
  color: #fff;
  text-align: center;
}

.container {
  border-radius: 15px;
  background-color: #e67588;
  padding: 60px 60px 60px 60px;
  height: 610px;
  width: auto;
  margin: 30px 200px 30px 200px;
}

.gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gift{
  height: 180px;
  width: 250px;
   background-color: #e7c7cc;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
#gift1{
  height: 180px;
  width: 250px;
   background-color: #e7c7cc;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
#back{
  display: inline-block;
  padding: 5px 30px;
  background: #da2243;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: 0.3s;
  margin-top: 30px;
}
#gift2{
  height: 180px;
  width: 250px;
   background-color: #e7c7cc;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #030303;
}

p {
  color: #030303;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background: #ff4d6d;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.btn:hover {
  background: #ff1f4c;
  transform: scale(1.05);
}

#try{
 display: inline-block;
  padding: 5px 30px;
  background: #da2243;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: 0.3s;
  margin-top: 30px;
}

#card:hover{
  transform: scale(1.05);
  
}
.letter{
  margin: 30px 200px 30px 200px;
  padding: 20px 40px 20px 50px;
   border-radius: 25px;
  background-color: #ecb3bc;
}
.letter h1{
   color: #030303;
}
.letter img:hover{
  transform: scale(1.05);
}


img {
  max-width: 300px;
  border-radius: 20px;
  margin: 20px;
}

.box{
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  color: #030303;
   border-radius: 25px;
  background-color: #ecb3bc;
  padding: 20px 40px 20px 50px;
  height: 300px;
  width: 600px;
  margin: 0px 200px 30px 200px;
}
.box h3{
  font-size: large;
}
#para{
  margin-top: 10px;
  margin-bottom: 25px;
}
.option{
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fcfcfc;
  margin-top: 10px;
  height: 50px;
  width: 500px;
  color: #030303;
  align-items: center;
  font-size: larger;
  
}
.option:hover{
  background-color: #ae4545;
}
