* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    


}


#nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 9999;

}

#search {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: start;
    padding: 12px;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
}

#search img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;

}

#search p {
    padding-left: 9px;
}

#nav3 {
    width: 280px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#text {
    font-family: "Trocchi", serif;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 30px;
    left: 50%;
}

.round {

    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid black;

}

#hero-part1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 50px;

}

#bigger-text {
    padding: 35px;
    width: 55%;
    line-height: 60px;
}

#bigger-text p {
    font-family: "Trocchi", serif;
    font-size: 45px;
    font-weight: 70;
    letter-spacing: -1px;
}

#bigger-text h1 {
    font-family: "Funnel Display", sans-serif;
    font-size: 69px;
    font-weight: 600;
    line-height: 0.9;


}

#small-text {
    width: 45%;
    padding: 65px;
    line-height: 23px;
    text-align: right;
    font-weight: 330;
    font-size: large;
}

#hero {
    margin: 0;
    overflow-x: hidden;
}


.neck {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.round img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 9px;
    margin-left: 11px;

}


/* Center Biggest */
#image1 {
    position: absolute;
    top: 45%;
    left: 7.4%;
    border-radius: 20px;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1001;
    width: 220px;
    height: 320px;
    scale: 0.75;
    cursor: pointer;
}

#image2 {
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 23%;
    scale: 1;
    background: rgb(181, 62, 62);
    flex-shrink: 0;
    width: 220px;
    z-index: 1002;
    height: 320px;
    scale: 1.1;
    cursor: pointer;
}

#image3 {
    position: absolute;
    top: 45%;
    left: 43%;
    border-radius: 20px;
    scale: 1.35;
    z-index: 1003;
    background: rgb(181, 62, 62);
    flex-shrink: 0;
    width: 220px;
    height: 320px;
    cursor: pointer;
}

/* Side Medium */
#image4 {
    position: absolute;
    top: 45%;
    left: 63%;
    border-radius: 20px;
    z-index: 1002;
    flex-shrink: 0;
    background: rgb(181, 62, 62);
    width: 220px;
    height: 320px;
    scale: 1.1;
    cursor: pointer;


}

/* Side Small */
#image5 {
    position: absolute;
    top: 45%;
    left: 78.3%;
    background: rgb(181, 62, 62);
    border-radius: 20px;
    scale: 0.75;
    flex-shrink: 0;
    width: 220px;
    height: 320px;
    z-index: 1001;
    cursor: pointer;

}

#image6 {
    position: absolute;
    top: 45%;
    left: -15%;
    border-radius: 20px;
    background: rgb(181, 62, 62);
    z-index: 1000;
    flex-shrink: 0;
    width: 220px;
    height: 320px;

    scale: 0.75;
}

/* Side Small */
#image7 {
    position: absolute;
    top: 50%;
    left: 110%;
    border-radius: 20px;
    background: rgb(181, 62, 62);
    z-index: 1000;
    flex-shrink: 0;
    width: 220px;
    height: 320px;

}

#nextBtn {
    background-color: aqua;
}



#arrow{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 43%;
    left: -27%;
    color: rgb(0, 0, 0);
    background-color: white;
    z-index: 8884449;
    border-radius: 50%;
    border: 1px solid rgb(169, 144, 144);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center
    

   
}
#arrow h3{
    color: aliceblue;
    font-size: larger;
    padding-bottom: 2px;
    
}
#sidebar{
    position: absolute;
    padding: 80px 30px 10px 40px;
    max-width: 470px;
    z-index: 888888;
    background-color: white;
    height: 100%;
    top: 0%;
    left: -30%;
    opacity: 0;
    
}

#sidebar p{
    max-width: 350px;
    padding: 30px 10px 10px 10px;
}
#sidebar h4{
    max-width: 350px;
    padding: 10px 10px 0px 10px;
}
#sidebar h3{
    max-width: 350px;
    padding: 20px 10px 0px 10px;
}

#buttonn{
    height: 44px;
    width: 350px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
}

#firstimage{
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 29.5%;
    z-index: 22222;
    color: rgb(198, 195, 195);
    opacity: 0;
    scale: 0.7;
}