* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}




#nav {
    position: fixed;
    top: 0;
    background-color: transparent;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: "DynaPuff", system-ui;
    z-index: 9999;

}

#logo {
    height: 50px;
    width: 150px;
}

#logo img {
    height: 100%;
    width: 100%;
}

#links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

#links a {
    text-decoration: none;
    color: rgb(255, 242, 0);
    font-weight: bold;
    font-size: 18px;
}

#user {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#login {
    color: rgb(231, 231, 231);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
    background-color: transparent;
}

#signup {

    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(18, 50, 180);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;

}

#first {
    background: linear-gradient(270deg,
            #1a1a8c 0%,
            /* Deep Purple-Blue top */
            #3b5bdb 70%,
            /* Royal Blue middle */
            #6bb9f5 100%
            /* Sky Blue bottom */
        );

    height: 720px;
    width: 100%;

    align-items: center;
    height: 100vh;
    /* Sets the container height to 100% of the viewport height */
    width: 100%;
    background-blend-mode: lighten;
}

.carousel {

    padding-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-container {
    width: 1390px;
    overflow: hidden;
    border-radius: 15px;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-track .img {

    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 380px;
}

.slider-track img {
    height: 530px;
    object-fit: cover;
}

button {
    padding: 5px 10px;
    font-size: 19px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgb(234, 237, 79);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;

}

#second {
    min-height: 750px;
     font-family: "DynaPuff", system-ui;
      background-image: linear-gradient(135deg, #FFFB7D 0%, #85FFBD 50%, #FFFB7D 100%);
    
}

#second-part1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    margin-bottom: 200px;
}

#left {
    width: 50%;
}
#left-img{
    margin-top: 190px;
    height: 700px;
}
#upper-img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 39%;
    z-index: 2222;
    height: 540px;
    opacity: 0.4;
}
#lower-img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 98%;
    left: 14%;
    z-index: 2222;
    height: 440px;
    opacity: 0.4;
}

#right {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-top: 240px;
}

#content {
    line-height: 2;
    max-width: 400px;
    line-height: 2.5;
   
}
#content p{
    font-size: 14px;
    letter-spacing: 5;
}
#left{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}